.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 27px;
  button {
    padding: 6px 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.Active {
      background-color: #243c7b;
      color: white;
    }
  }
}
