.Sidebar {
  height: 100vh;
  width: max-content;
  border: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;

  .SidebarLogoContainer {
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
    padding: 19px 24px 19px 32px;
  }

  .SidebarDropDownsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 32px 19px;
    overflow: scroll;
  }

  .SidebarUserAreaContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 19px;
    border-top: 1px solid #f7f7f7;

    margin-top: auto;
  }

  .SettingsBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    border: 1px solid #f7f7f7;
    border-radius: 12px;
    background-color: #fff;
    color: #787486;
    gap: 8px;
  }

  .UserProfileBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    border: 1px solid #f7f7f7;
    border-radius: 12px;
    background-color: #243c7b;
    gap: 8px;

    .NameAndUserName {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .Name {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
      }

      .UserName {
        font-size: 12px;
        color: #d1d1d1;
      }
    }
  }
}
