.Table {
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 8px;

  th {
    padding: 12px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #243c7b;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    vertical-align: middle;
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }

  td {
    vertical-align: top;
    font-size: 14px;
    color: #0a0a0a;
    padding:8px 12px;
    text-align: center;
    vertical-align: middle;
  }
}

.ElementAuthor{
  font-size: 16px;
}