.HomePage {
  display: flex;
}
.TableContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 24px;

  overflow: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.TableContainer::-webkit-scrollbar {
  display: none;
}

.HeaderSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .LeftSide {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .MainText {
      font-size: 24px;
      font-weight: 500;
      color: #000000;
    }

    .SubText {
      font-size: 14px;
      font-weight: 500;
      color: #787486;
    }
  }

  .RightSide {
    .AddButton {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      padding: 8px 12px;
      background-color: #243c7b;
      border: none;
      border-radius: 30px;
      cursor: pointer;

      color: #ffffff;
      font-size: 16px;
      font-weight: 500;

      transition: background-color 0.2s ease;

      &:hover {
        background-color: #1e3268;
      }

      .IconBox {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3d5db2;
        border-radius: 50%;
      }
    }
  }
}

.FilterBar {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 24px;
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  box-shadow: 0px 0px 10.9px 0px rgba(235, 235, 235, 0.25);

  .FilterBarDropDown {
    width: 146px;
  }
  .SearchBar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: #fff;

    .SearchIcon {
      width: 16px;
      height: 16px;
    }

    input {
      border: none;
      outline: none;
      font-size: 14px;
      color: #000;
      background: transparent;

      &::placeholder {
        color: #9ca3af;
      }
    }
  }
}
